XML y JSON/XML/DTD y Esquemas/Examen/GarciaTellez_Joaquin_dtd_schema/GarciaTellez_Joaquin_Ejercicio2/ejercicio2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumnos">
        <xs:element name="alumno"></xs:element>
        <xs:element name="fecha"></xs:element>
        <xs:element name="nota"></xs:element>
        <xs:element name="observacion"></xs:element>
    </xs:element>
</xs:schema>
